@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
.hero{
    
    margin: auto;
    width: 80%;
    
}
.navbar{
    margin: 30px auto;
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: flex-start;
  }
ul{
    /* flex: 1;
    text-align: center; */
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
}
ul li {
    display: flex;
    list-style: none;
    margin: 0 25px;
}
ul li a{
    display: flex;
    text-decoration: none;
    color: #000;
    padding: 0 10px;
    position: relative;
    font-weight: 500;
}
ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #0a0607;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25%;
    transition: 0.5s;
}
ul li a:hover::after{
width: 100%;
}

.banner{
    display: flex;
    margin-top: 80px;
}
.left-column,.right-column{
    flex-basis: 50%;
}
.right-column img {
    width: 100%;
}

.left-column h1 {
    
    font-size: 100px;
}
.left-column h3 {
    font-size: 45px;
    color: #3ad08f;
}
.left-column p{
    font-size: 14px;
    color: #999;
    margin: 50px 0;
}
.btn button{
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border: 1px solid #3ad08f;
    border-radius: 20px;
    cursor: pointer;
    color: #3ad08f;
    background: transparent;

}
.btn .primary-btn{
    background: linear-gradient(#3864a7,#3ad08f);
    box-shadow: 0 2px 15px rgba(248,38,103,0.26);
    color: #fff;
}
.btn{
    margin-bottom: 50px;
}
.action{
    position: fixed;
    top: 20px;
    right: 30px;
}
.action .profile{
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.action .menu{
    display: flex;
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #706fd3;
    width: 200px;
    box-sizing:0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    cursor: pointer;
}
.action .menu.active{
    top: 96px;
    visibility: visible;
    display: flex;
    opacity: 1;
    flex-direction: column;
}
.action .menu.active ul{
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
  }
.action .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);

}
.action .menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    line-height: 1.2em;
}
.action .menu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.action .menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    direction:flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 05s;
}
.action .menu ul li:hover img {
    opacity:1;
}
.action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;

}
.action .menu ul li:hover a {
    color: #ff5d94;
}
